<!DOCTYPE html>

<head>
    {% load static %}
    <title>CTD</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleAdmin.css' %}">
</head>

<body class="w3-theme-l5">
    <div class="modal visible loaded" style="z-index: -1; position:fixed; height: 120%; width: 120%;"></div>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large "
                href="javascript:void(0);" onclick="toggleFunction()"><i class="fa fa-bars"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large"><b>CTD
                    ADMIN SITE</b></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                title="Cài đặt tài khoản"><i class="fa fa-user"></i></a>
            <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" href="{% url 'Home' %}"
                title="Quay về trang chủ"> <i class="fas fa-home"></i>
            </a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span
                        class="w3-badge w3-right w3-small w3-green">3</span></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                    <a href="#" class="w3-bar-item w3-button">One new task</a>
                    <a href="#" class="w3-bar-item w3-button">One new task</a>
                    <a href="#" class="w3-bar-item w3-button">One new task</a>
                </div>
            </div>
            <a id="logout" onclick="Userlogout()" href="#"
                class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Log out">
                <i class="fas fa-sign-out-alt"></i>
            </a>
            <button type="button"
                class="w3-button w3-theme w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"><i
                    class="fa fa-pencil"></i>
                &nbsp;Viết bài</button>
        </div>
        <div id="navMobile" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="#" class="w3-bar-item w3-button w3-margin-right w3-margin-left" title="Cài đặt tài khoản"><i
                    class="fa fa-user"></i> Cài đặt tài khoản</a>
            <a class="w3-bar-item w3-button w3-margin-right w3-margin-left" href="{% url 'Home' %}"
                title="Quay về trang chủ"> <i class="fas fa-home"></i>
                Quay về trang chủ
            </a>
            <a id="logoutmobile" onclick="Userlogout()" href="#"
                class="w3-bar-item w3-button w3-margin-right w3-margin-left" title="Log out">
                <i class="fas fa-sign-out-alt"></i> Đăng xuất
            </a>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
    </div>
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:30px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center" id="username">{{request.user.username}}</h4>
                        <p class="w3-center"><img src="https://i.stack.imgur.com/l60Hf.png"
                                style="height:106px;width:auto" alt="Avatar"></p>
                        <hr>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Thái Nguyên</p>
                        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> 11/22/1111</p>
                    </div>
                </div>
                <br>
                <!-- End Left Column -->
            </div>
            <!-- Middle Column -->
            <div class="w3-col m7">
                <div class="w3-row">
                    <div class="w3-row-padding">
                        <div class="w3-col m12">
                            <div class="w3-bar w3-black w3-center" style="margin-bottom:5px;">
                                <a href="#" class="w3-bar-item w3-button w3-yellow w3-hover-yellow" id="alltask"
                                    style="width:33%; height:100%">Tất cả</a>
                                <a href="#" class="w3-bar-item w3-button w3-hover-yellow" id="progress"
                                    style="width:33%">Đang làm</a>
                                <a href="#" class="w3-bar-item w3-button w3-hover-yellow" id="completed"
                                    style="width:34%">Hoàn thành</a>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row-padding" id="addTaskCol">
                        <div class="w3-col m12">
                            <div class="w3-card w3-round w3-white">
                                <div class="w3-container w3-padding">
                                    <div class="w3-input w3-section w3-border w3-opacity-min" style="height: 50px;"
                                        id="addTask">Thêm nhiệm vụ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row-padding" id="CreateTaskForm" hidden>
                        <div class="w3-col m12">
                            <div class="w3-card w3-round w3-theme-l1">
                                <div class="w3-container w3-padding">
                                    <form method="post">
                                        {% csrf_token %}
                                        <span style="font-weight: 10; font-size:16px"><i
                                                class="fas fa-heading"></i>&nbsp;&nbsp;Tiêu đề</span>
                                        <textarea id="title" class="w3-input w3-section w3-border" name="message"
                                            placeholder="Tiêu đề *" rows="1" maxlength="500" required=""></textarea>
                                        <span style="font-weight: 10; font-size:16px"> <i
                                                class="fas fa-align-justify"></i>&nbsp;&nbsp;Nội dung</span>
                                        <textarea id="content" class="w3-input w3-section w3-border" name="message"
                                            placeholder="Nội dung *" rows="3" maxlength="1000" required=""
                                            style="height: 120px;"></textarea>
                                        <span style="font-weight: 10; font-size:16px;"> <i
                                                class="far fa-calendar-alt"></i>&nbsp;&nbsp;Thời gian kết
                                            thúc:</span>
                                        <div class="date-picker">
                                            <div class="input">
                                                <div class="result"> <span id="dateline"></span></div>
                                                <button type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                            <div class="calendar"></div>
                                        </div>
                                        <!-- <div class="btcd-f-input">
                                        <div class="btcd-f-wrp">
                                            <button class="btcd-inpBtn" type="button"> <img src="" alt=""> <span> Attach
                                                    File</span></button>
                                            <span class="btcd-f-title">No File Chosen</span>
                                            <small class="f-max"> (Max 100 MB)</small>
                                            <input multiple type="file" name="document" id="input-file" enctype="multipart/form-data">
                                        </div>
                                        <div class="btcd-files">
                                        </div>
                                    </div>  -->
                                        <div class='w3-row' style="margin-top:16px;">
                                            <div class="w3-half">
                                                <button id="addtask" type="button" class="w3-button w3-left w3-theme"
                                                    style="width:90%;"><i class="fa fa-pencil">
                                                    </i>
                                                    &nbsp;&nbsp;&nbsp;Thêm nhiệm vụ
                                                </button>
                                            </div>
                                            <div class="w3-half">
                                                <button type="button" class="w3-button w3-right w3-theme quit"
                                                    style="width:90%;" onclick="QuitForm('CreateTaskForm')">
                                                    <i class="fas fa-times-circle"></i>&nbsp;&nbsp;&nbsp;
                                                    Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row-padding" id="del-task"
                        style="position: fixed;top: 50%;left: 54%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);"
                        hidden>
                        <div class="w3-container w3-padding w3-theme-d1">
                            <span style="font-size:20px">Nhiệm vụ này sẽ bị xóa hoàn toàn, xác nhận?</span>
                            <br>
                            <br>
                            <br>
                            <div class='w3-row'>
                                <div class="w3-half">
                                    <button id="deletetask" type="button" class="w3-button w3-left w3-theme"
                                        style="width:100%;"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;Xóa
                                    </button>
                                </div>
                                <div class="w3-half">
                                    <button type="button" class="w3-button w3-right w3-theme quit" style="width:100%;"
                                        onclick="QuitForm('del-task')"><i
                                            class="fas fa-times-circle"></i>&nbsp;&nbsp;Hủy
                                    </button>
                                </div>
                                <span id="task_id" hidden></span>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row-padding" id="ChangeTaskForm" hidden>
                        <div class="w3-col m12">
                            <div class="w3-card w3-round w3-theme-l1">
                                <div class="w3-container w3-padding">
                                    <form method="post">
                                        {% csrf_token %}
                                        <span style="font-weight: 10; font-size:16px"><i
                                                class="fas fa-heading"></i>&nbsp;&nbsp;Tiêu đề</span>
                                        <textarea id="new_title" class="w3-input w3-section w3-border" name="message"
                                            placeholder="Tiêu đề *" rows="1" maxlength="500" required=""></textarea>
                                        <span style="font-weight: 10; font-size:16px"> <i
                                                class="fas fa-align-justify"></i>&nbsp;&nbsp;Nội dung</span>
                                        <textarea id="new_content" class="w3-input w3-section w3-border" name="message"
                                            placeholder="Nội dung *" rows="3" maxlength="1000" required=""
                                            style="height: 120px;"></textarea>
                                        <span style="font-weight: 10; font-size:16px;"> <i
                                                class="far fa-calendar-alt"></i>&nbsp;&nbsp;Thời gian kết
                                            thúc:</span>
                                        <div class="date-picker">
                                            <div class="input">
                                                <div class="result"> <span id="new_dateline"></span></div>
                                                <button type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                            <div class="calendar"></div>
                                        </div>
                                        <div class='w3-row' style="margin-top:16px;">
                                            <div class="w3-half">
                                                <button id="changetask" type="button" class="w3-button w3-left w3-theme"
                                                    style="width:90%;"><i class="fa fa-pencil">
                                                    </i>
                                                    &nbsp;&nbsp;&nbsp;Lưu thay đổi
                                                </button>
                                            </div>
                                            <div class="w3-half">
                                                <button type="button" class="w3-button w3-right w3-theme quit"
                                                    style="width:90%;" onclick="QuitForm('ChangeTaskForm')">
                                                    <i class="fas fa-times-circle"></i>&nbsp;&nbsp;&nbsp;
                                                    Hủy
                                                </button>
                                            </div>
                                            <span id="task_id" hidden></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3-row" id="list_of_tasks">

                </div>
                <!-- End Middle Column -->
            </div>
        </div>

        <!-- End Page Container -->
    </div>
    <br>
    <!-- Footer -->
    <footer class="w3-center w3-theme-d5 w3-padding-16" style="bottom:0; height:236px;">
        <div class="w3-row-padding">
            <div class="w3-half" style="text-align: left;" id="text-contact">
                <p>Contact: Đào Huy Du </p>
                <p>Phone: <a href="tel://0912347222">0912347222</a></p>
                <p>Email: <a href="mailto:daohuydu@tnut.edu.vn">daohuydu@tnut.edu.vn</a> </p>
            </div>
            <div class="w3-half" style="text-align: right;" id="icon-contact">
                <a class="w3-bar-item w3-button" title="Facebook"><i class="fab fa-facebook-f"></i>
                </a>
                <a class="w3-bar-item w3-button" href="mailto:daohuydu@tnut.edu.vn" title="Email"><i
                        class="far fa-envelope"></i>
                </a>
                <a class="w3-bar-item w3-button" title="Message"> <i class="far fa-comment-dots"></i>
                </a>
                <a class="w3-bar-item w3-button" href="{% url 'Home' %}"> <i class="fas fa-home"></i>
                </a>
            </div>
        </div>
        <p>Copyright © 2021 CTD</p>
    </footer>
    <script type="text/javascript" src="{% static 'JS/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'JS/jquery-ui.min.js' %}"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://unpkg.com/create-file-list@1.0.1/dist/create-file-list.min.js"></script>
    <script type="text/javascript" src="{% static 'script/scriptadminsite.js' %}"></script>

</body>

</html>