{% extends "default.html" %}
{% block style %}
{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block header %}
  <div class="container-fluid p-0 align-items-center">
            <div style="background: url({% static 'image/banner_opa2.png' %}) no-repeat center center fixed; 
                                  -webkit-background-size: cover;
                                  -moz-background-size: cover;
                                    -o-background-size: cover;
                                    background-size: cover; width: 100%; min-height: 500px;
                                    filter: brightness(80%);">
                              <div class="jumbotron align-items-center">
                                <div class="container" style="padding-top: 70px;">
                        <p class="display-5 text-heading" style="font-family: 'Roboto', sans-serif; text-align: center; 
                            margin-top:auto; margin-bottom: auto;">
                            <strong>Trung
                                Tâm Sáng Tạo Và Phát
                                Triển Công Nghệ <br>
                                Đại học Kỹ thuật Công nghiệp Thái Nguyên</strong></p><br>
                        <p class="lead text-heading" style="font-family: 'Roboto', sans-serif;
                            text-align: center;
                            margin-top:auto;
                            margin-bottom: auto;
                            font-size: 24px;">
                            Tiên phong trong hệ thống IoT bao gồm phần cứng, phần mềm và hệ thống nhúng</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %} 

{% block content %}
{% load static %}
    <div class="block-heading">
        <h3 class="text-muted text-bold"> Giải pháp </h3>
    </div>
    <div class="block-content row row-cols-lg-3">
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'image/thaibinh_04.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title" style="font-size: 22px;"><b>Tự động hóa nông nghiệp</b></h6>
                    <p class="card-text">Hệ thống tự động tưới tiêu, theo dõi môi trường hiện đại, công nghệ vượt
                        trội</p>
                    <a href="#" class="btn btn-outline-primary rounded">Chi tiết</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{% static 'image/electric.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title" style="font-size: 22px;"><b>Tự động hóa công nghiệp</b></h6>
                    <p class="card-text">Hệ thống tự động điều khiển máy móc, vận hành quá trình sản xuất hiện đại
                    </p>
                    <a href="#" class="btn btn-outline-primary rounded">Chi tiết</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="height: 100%;">
                <img class="card-img-top" src="{% static 'image/solar_cell.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title" style="font-size: 22px;"><b>Tiết kiệm năng lượng</b></h6>
                    <p class="card-text">Hệ thống tự động điều khiển máy móc, vận hành quá trình sản xuất hiện đại
                    </p>
                    <a href="#" class="btn btn-outline-primary rounded">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
    <div class="block-heading pb-3 pt-3" id="slide-1" style="background-color: #e7f3fc;">
        <h3 class="text-muted text-bold"> Đối tác </h3>
    </div>
    <div class="owl-carousel" id="slider-1" style="background-color: #e7f3fc; padding-bottom: 20px;">
        <div class="ps-5">
            <img src="{% static 'image/vnpt.png' %}" style="height: 100px; width: auto;">
        </div>
        <div class="ps-5">
            <img src="{% static 'image/nonglam.png' %}" style="height: 100px; width: auto;">
        </div>
        <div class="ps-5">
            <img src="{% static 'image/thai binh.png' %}" style="height: 100px; width: auto;">
        </div>
        <div class="ps-5">
            <img src="{% static 'image/hung yen.png' %}" style="height: 100px; width: auto;">
        </div>
        <div class="ps-5">
            <img src="{% static 'image/apatit.jpeg' %}" style="height: 100px; width: auto;">
        </div>
    </div>
    <div class="block-info row row-cols-lg-2 pt-5 ps-4">
        <div class="col-lg-7">
            <div class="container" style="padding-left:0px !important;">
                <h3 class="text-muted text-bold"> Tin tức mới </h3>
            </div>
            <div class="card">
                <div class="card-body">
                    <a href="#" class="display-5 card-title" style="font-size: 22px !important;">Khỏa sát Hưng Yên
                        2021</a>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab perspiciatis
                        aperiam facilis itaque nisi harum, sequi, nobis, at ex consectetur natus reiciendis ut
                        mollitia quia ipsa dolores officiis vel atque?</p>
                    <button class="btn btn-outline-primary rounded">Xem tất cả</button>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="container">
                <h3 class="text-muted text-bold"> Dự án mới </h3>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row row-cols-lg-2">
                        <div class="col-lg-5 col-sm-6">
                            <img src="{% static 'image/solar_cell.jpg' %}" style="height: 100px; width: auto;">
                        </div>
                        <div class="col-sm-6 col-lg-7">
                            <a href="#" class="display-5 card-title" style="font-size: 22px !important;">Pin mặt trời</a>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab perspiciatis
                                aperiam facilis itaque nisi harum, sequi, nobis, at ex consectetur natus reiciendis ut
                                mollitia quia ipsa dolores officiis vel atque?</p>
                            <button class="btn btn-outline-primary rounded">Xem tất cả</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="block-heading pb-3 mt-5">
        <h3 class="text-muted text-bold">Lĩnh vực </h3>
    </div>
    <div class="owl-carousel ps-3" id="slider-2">
        <div>
            <div class="card-body">
                <div class="row row-cols-2">
                    <div class="col-5">
                        <img class="card-img-top" src="{% static 'image/electric.jpg' %}" alt="Card image cap">
                    </div>
                    <div class="col-7">
                        <h5 class="card-title">Lĩnh vực 1</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat
                            molestias
                            incidunt vel nisi
                            minima temporibus iste commodi ut error, mollitia officia dolore quisquam alias nam
                            nobis
                            accusamus
                            necessitatibus. Aspernatur, veniam!</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card-body">
                <div class="row row-cols-2">
                    <div class="col-5">
                        <img class="card-img-top" src="{% static 'image/electric.jpg' %}" alt="Card image cap">
                    </div>
                    <div class="col-7">
                        <h5 class="card-title">Lĩnh vực 2</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat
                            molestias
                            incidunt vel nisi
                            minima temporibus iste commodi ut error, mollitia officia dolore quisquam alias nam
                            nobis
                            accusamus
                            necessitatibus. Aspernatur, veniam!</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card-body">
                <div class="row row-cols-2">
                    <div class="col-5">
                        <img class="card-img-top" src="{% static 'image/electric.jpg' %}" alt="Card image cap">
                    </div>
                    <div class="col-7">
                        <h5 class="card-title">Lĩnh vực 3</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat
                            molestias
                            incidunt vel nisi
                            minima temporibus iste commodi ut error, mollitia officia dolore quisquam alias nam
                            nobis
                            accusamus
                            necessitatibus. Aspernatur, veniam!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-heading pb-3 mt-5">
        <h3 class="text-muted text-bold"> Liên hệ </h3>
    </div>
    <hr class="my-4">
    <form class="ms-5 col-lg-7">
        <div class="form-group row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Tên</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Tên*">
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Công ty</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Công ty*">
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Email*">
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Số điện thoại</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Số điện thoại*">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-outline-primary rounded"> <i class="fa fa-paper-plane"></i>
                    SEND
                    MESSAGE</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block message %}
    <div class="chat-widget">
            <div class="chat-widget--bubble">
                <h1 class="chat-widget--header"></h1>
                <p class="chat-widget--text">Chào bạn! Mình có thể giúp gì cho bạn?</p>
                <button>Chat với chúng tôi</button>
            </div>
            <a class="chat-widget--button">
                <svg viewBox="0 0 41 36" class="chat-widget--icon">
                    <path
                        d="M34.7 5.2C38.6 8.6 40.7 13.2 40.7 18 40.7 22.8 38.6 27.4 34.7 30.8 31 34.2 26 36 20.7 36 19.1 36 17.5 35.8 16 35.5 15.2 35.3 14.7 34.5 14.9 33.7 15.1 32.9 15.8 32.4 16.6 32.6 17.9 32.9 19.3 33 20.7 33 30.1 33 37.7 26.3 37.7 18 37.7 9.7 30.1 3 20.7 3 11.3 3 3.6 9.7 3.6 18 3.6 21.4 4.9 24.7 7.3 27.4 7.7 27.8 7.8 28.4 7.6 28.9 7.2 30 6.7 30.9 6 31.8 7.2 31.7 8.6 31.3 9.8 30.6 10.5 30.1 11.5 30.4 11.9 31.1 12.3 31.8 12.1 32.7 11.4 33.1 8.3 35 5 34.9 3.3 34.6 2.5 34.5 1.8 33.9 1.7 33.1 1.5 32.3 1.8 31.4 2.5 31 3.4 30.4 4 29.6 4.5 28.6 2 25.6 0.7 21.8 0.7 18 0.7 13.2 2.8 8.6 6.6 5.2 10.4 1.8 15.4 0 20.7 0 26 0 31 1.8 34.7 5.2ZM20.7 20C19.6 20 18.7 19.1 18.7 18 18.7 16.9 19.6 16 20.7 16 21.7 16 22.6 16.9 22.6 18 22.6 19.1 21.7 20 20.7 20ZM26.7 20C25.6 20 24.8 19.1 24.8 18 24.8 16.9 25.6 16 26.7 16 27.8 16 28.6 16.9 28.6 18 28.6 19.1 27.8 20 26.7 20ZM14.6 20C13.6 20 12.7 19.1 12.7 18 12.7 16.9 13.6 16 14.6 16 15.7 16 16.6 16.9 16.6 18 16.6 19.1 15.7 20 14.6 20Z">
                    </path>
                </svg>
            </a>
        </div>
           <script type="text/javascript" src="{% static 'script/chat.js' %}"></script>
{% endblock %}